@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
html {
	font-size: 10px;
	overflow-x: hidden;
	
}
body {
	background: var(--lightOrange-2);
	overflow-x: hidden;
	scroll-behavior: auto;
}
section {
	padding: 100px 0;
}
@media only screen and (max-width: 767px) {
	section {
		padding: 50px 0;
	}
}
.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}
:root {
	--orange-1: #FB8937;
	--orange-2: #FFAE77;
	--lightOrange-1:#FDE6D6 ;
	--lightOrange-2:#FCF8F2 ;

	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
	--white: #ffffff;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
h1,
h2,
h3,
h4 {
	font-family: Poppins;
}
p {
	font-family: Raleway;
	font-weight: 400;
	line-height: 1.4em;
	font-size: 1.8rem;
}
a {
	display: inline-block;
	text-decoration: none;
}
